# Ignore C++ and CMake files for language stats
*.cpp linguist-detectable=false
*.h linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

cpp/** linguist-detectable=false
cmake/** linguist-detectable=false
